.highlight {
  .hll {
    background-color: #112b47;
  }

  .lineno {
    color: #608079;
  }

  .err {
    color: #9d2512;
  }

  .ge {
    color: #bdbdb3;
    font-style: italic;
  }

  .c,
  .cm,
  .c1 {
    color: #757575;
  }

  .g,
  .o,
  .p,
  .go,
  .gp,
  .gs,
  .gt,
  .ld,
  .nn,
  .nx,
  .w,
  .sd,
  .sh {
    color: #bdbdb3;
  }

  .k,
  .kd,
  .kr,
  .nb,
  .nd,
  .nt,
  .nv,
  .bp,
  .vc,
  .vg,
  .vi,
  .vm {
    color: #5180b3;
  }

  .l,
  .n,
  .x,
  .gh,
  .gu,
  .kc,
  .ne,
  .no,
  .sb,
  .se {
    color: #ab75c3;
  }

  .cp,
  .cs,
  .gi,
  .kn,
  .kp,
  .na,
  .nl,
  .ow,
  .py {
    color: #baba36;
  }

  .gd,
  .s,
  .sc,
  .s2,
  .si,
  .sx,
  .s1,
  .ss,
  .il {
    color: #6aaf50;
  }

  .gr,
  .kt,
  .sr {
    color: #d65946;
  }

  .m,
  .ni,
  .mf,
  .mh,
  .mi,
  .mo {
    color: #df9522;
  }

  .nc,
  .nf {
    color: #1d9a79;
  }
}
