---
layout: compress
---

<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    <main>
      {% include header.html %} {% if page.layout == "post" %} {% include
      anchor_headings.html html=content anchorBody="#" beforeHeading=true %} {%
      else %} {{ content }} {% endif %} {% include footer.html %}
    </main>
    {% include category-modal.html %}
    <script src="{{'/assets/js/categories.js' | relative_url }}"></script>
    {% if page.layout == "post" %}
    <script defer src="{{ '/assets/js/lbox.js' | relative_url }}"></script>
    {% endif %}
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/fontsource-jetbrains-mono@4.5.9/index.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/@iconify/iconify@2.2.1/dist/iconify.min.js"></script>
  </body>
</html>
